<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJtfksrR5F_ur0XMbAYGhvKrQsJ7g2loA&sensor=false">
</script>

<script type="text/javascript">

  var currentwindow = null;
  var count = 0;
  var windows = new Array();
  var markers = new Array();
  var names = new Array();
  var selectedListElement = null;
  var map = null;

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(39.951719, -75.163877),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    <% for startup in @startups %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= startup.x.to_f  %>, <%= startup.y.to_f  %>),
        map: map
        });
      markers[count] = marker;
      names[count] = "<%= startup.name %>";

    attachWindow(marker, "<%= startup.name %>", "<%= startup.website %>", "<%= startup.description %>");
    <% end %>
  }

  function attachWindow(marker, name, website, description) {
    var contentString = '<div id="content"><h4><a href="' + website + '" target="_blank">' + name + '</a></h4><div id="bodyContent"><p>'+ description + '</p>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
      });
    windows[count] = infowindow;
    count++;

    google.maps.event.addListener(infowindow, 'closeclick', function(){
      dehighlight(name);
    });

    google.maps.event.addListener(marker, 'click', function(){
      if (currentwindow == null) {
        currentwindow = infowindow;
      }
      else {
        currentwindow.close();
      }
      highlight(name, false);
      infowindow.open(marker.get('map'), marker);
      currentwindow = infowindow;
    });
  }

  function openWindow(name) {
    for (var i=0; i<markers.length; i++) {
      if (names[i] == name.text) {
        if (currentwindow == null) {
          currentwindow = windows[i]
        }
        else {
          currentwindow.close();
        }
        windows[i].open(markers[i].get('map'), markers[i]);
        currentwindow = windows[i];
        highlight(name.text, true);
        break;
      }
    }
  }

  function highlight(name, clickedFromList) {
    elements = document.getElementsByTagName('a');
    for (var i=0; i<elements.length; i++) {
      if (elements[i].innerText == name) {
        if (selectedListElement != null) {
            selectedListElement.style.color = '#2E282A';
        }
        elements[i].style.color = '#0088cc';
        if (clickedFromList == false) {
          elements[i].scrollIntoView(false);
        }
        selectedListElement = elements[i];
        break;
      }
    }
  }

  function dehighlight(name) {
    elements = document.getElementsByTagName('a');
    for (var i=0; i<elements.length; i++) {
      if (elements[i].innerText == name) {
        selectedListElement.style.color = '#2E282A';
        break;
      }
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>


<h1>Mapping Philly's Startups</h1>

<div id="sidebar">
  <ul>
    <% for startup in @startups  %>
      <li>
      <h4><a onclick="return openWindow(this);"><%= startup.name %></a></h4>
        <h5><%= startup.address %></h5>
      </li>
    <% end %>
  </ul>
</div>
